{% extends "base.html" %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{{ static('css/home.css') }}">
<link type="text/css" rel="stylesheet" href="{{ static('css/orders.css') }}">
{% endblock %}


{% block content  %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <br><br>
    <div class="container">
        <div class="strap w100">
                <h1>Все записи</h1>

                {% for order in orders %}

                    {% set full_name = order.dentist.first_name + " " + order.dentist.last_name %}


                    <div class="card center" >
                        <img class="mini-avatar" src="{{order.dentist.get_avatar_url()}}">

                        <div class="card-info">
                            <p class="transparent-text">Специалист</p>
                            <span class="work-title">{{full_name}}</span>

                        </div>
                        <img class="mini-avatar" src="{{order.get_avatar_url()}}">

                            <div class="card-info">
                                <p class="transparent-text">Клиент</p>
                                <span class="work-title">{{order.full_name}}</span>
                            </div>
                    </div>

                    <div class="selected-services">
                        <p class="transparent-text">{{order.get_date_by_str().week}}, {{order.get_date_by_str().day}} {{order.get_date_by_str().month}}, {{order.get_date_by_str().time}}</p>
                        <br>
                        {% for appointment_service in order.appointment_services.all() %}

                        <div class="card-info">
                            <span class="transparent-text">- {{appointment_service.service.title}}&nbsp;&nbsp;<span class="transparent-text">{{appointment_service.service.duration}} мин.</span></span>
                        </div>

                        {% endfor %}
                        <br>
                        <div class="justify-content">
                            <p><span class="hover-text">{{order.get_total_price()}} ₽</span> <span class="transparent-text"> ({{order.get_duration()}} мин.)</span></p>

                            <div class="horizontal-container" style="gap: 30px">
                                <p>Статус: <span class="hover-text {% if order.order_status == 5 %}error{% endif %}" id="status-{{ order.id }}">{{order.get_order_status_display()}}</span></p>

                                <div id="switcher-{{ order.id }}" data-status="{{ order.order_status }}" class="order-status-switcher switch-buttons disabled"></div>

                            </div>
                        </div>

                    </div>
                    <hr>

                {% endfor %}
            </div>
    </div>

<script type="text/javascript" src="{{ static('js/orders.js') }}"></script>

{% endblock %}


