{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/root.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/generic.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/head.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/icons.css' %}">
    <script type="text/javascript" src="{% static 'js/base_script.js' %}"></script>

    {% block head  %}

    {% endblock %}

    <style>
        {% load static %}

        :root {
            --icon-like: url('{% static "images/like-inactive.png" %}');
            --icon-like-active: url('{% static "images/like-active.png" %}');
            --check-mark: url('{% static "images/check_mark_icon.svg" %}');
        }
    </style>

</head>
<body>

<div class="head">
    <div class="head-content horizontal-container">
        <div class="logo">
            <span class="text-logo-part-1">Dental</span><span class="text-logo-part-2">Clinic</span>
        </div>
        <nav class="nav-menu horizontal-container">
            {% if user.is_authenticated %}

                <a href="/logout" class="nav-item profile-text">{{ user.username }}</a>

            {% else %}

                <a href="/login" class="nav-item">Войти</a>
                <a href="/register" class="nav-item">Зарегистрироваться</a>

            {% endif %}
        </nav>
    </div>
</div>

{% block content  %}

{% endblock %}

</body>

<footer>

</footer>
</html>