

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ static('css/root.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/generic.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/head.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/icons.css') }}">
    <script type="text/javascript" src="{{ static('js/base_script.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/head.js') }}" defer></script>


    {% block head  %}

    {% endblock %}

    <style>

    </style>

</head>
<body>

<div class="head">
    <div class="head-content horizontal-container">
        <div class="logo">
            <a href="/"><span class="text-logo-part-2">L</span><span class="text-logo-part-1">Dent</span></a>
        </div>
        <nav class="nav-menu horizontal-container">
            {% if user.is_authenticated %}
                <a href="/" class="nav-item">Главное</a>
                <a href="/orders" class="nav-item">Мои записи</a>

                <div id="profile-nav" class="dropdown">
                    <a id="" class="nav-item profile-text"><img class="profile-avatar" src="{{user.get_avatar_url()}}"></a>
                    <div id="side-menu" class="side-menu">
                    <ul>
                        <li class="first"><a class="profile-text" href="#">{{ user.username }}</a></li>

                        {% if user.role == 2 %}
                            <li><a class="" href="/profile/">Редактировать</a></li>
                        {% endif %}

                        <li><a class="" href="/logout/">Выйти</a></li>
                    </ul>
                    </div>
                </div>
            {% else %}
                <a href="/login" class="nav-item">Войти</a>
                <a href="/register" class="nav-item">Зарегистрироваться</a>
            {% endif %}
        </nav>
    </div>
</div>

<main>
    {% block content  %}

    {% endblock %}
</main>

<footer>

</footer>
</body>

</html>