{% extends  "base.html" %}

{% load static %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content  %}


<br><br>
<div class="container">
    <div class="workers">

        {% for worker in workers %}

        <a class="worker-card" href="/brand/{{brand.id}}">
            <div class="worker">
                <img src="https://avatars.dzeninfra.ru/get-zen_doc/5232922/pub_616978c6c67cad145420f480_616978dcc67cad145421104d/scale_1200">
                <div class="worker-info">
                    <span class="title">{{worker.first_name}} {{worker.last_name}}</span>
                    <span class="work-title">{{worker.work.title}}</span>
                    <span class="description">{{worker.work.description}}</span>
                </div>
            </div>
            <div class="buttons">
                <button class="button transparent">Оставить отзыв</button>
                <button class="button">Записаться</button>
            </div>
        </a>

        {% endfor%}

    </div>
</div>


{% endblock %}

