{% extends "base.html" %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{{ static('css/home.css') }}">
{% endblock %}


{% block content  %}
    <br><br>
    <div class="container">
        <div class="main-block">
            <p class="title-2">Стоматологическая клиника</p>
            <div class="big-logo">
                <span class="text-logo-part-2 big-logo">Л</span><span class="text-logo-part-1 big-logo">Дент</span>
            </div>

            <p class="description">Добро пожаловать в Л-Дент где улыбка является нашим приоритетом! Наша опытная команда стоматологов стремится предоставить первоклассную стоматологическую помощь в комфортной и дружественной обстановке. От обычной чистки до сложных процедур — мы предлагаем комплексные услуги для удовлетворения всех ваших потребностей. Запишитесь на прием сегодня, чтобы получить более здоровую и счастливую улыбку!</p>
            <div class="row gap10" style="justify-content: center">
                <img class="main-image" src="{{static('images/photo_1.JPG')}}">
            </div>
            <p>Адрес: ул. Абузара Айдамирова, 131, Грозный</p>
            <p>Рабочий номер: 8 (938) 018-33-33</p>

            <a href="/select_specialist/m-1s-1d-1" class="button">Записаться</a>
        </div>
    </div>

{% endblock %}


