{% extends  "base.html" %}

{% block content  %}

<br>
<br>

<div class="container">

    <form class="" action="" method="post">
        <h1>Анкета</h1>
        {% csrf_token %}

        <div class="input-group">
            <label for="specialization">Спецаильность:</label>
            <select name="specialization" id="specialization" required>

                {% for specialization in specializations %}

                {% if specialization == user.profile.specialization %}

                <option selected value="1">{{specialization}}</option>

                {% else %}

                <option value="1">{{specialization}}</option>

                {% endif %}

                {% endfor %}

            </select>
        </div>

        <div class="input-group">
            <label>Какие работы вы берете?</label>
            <div class="input-list">


                {% for service in services %}

                {% if service in selected_services %}
                 <label class="custom-checkbox">
                    <input checked type="checkbox" name="services" value="{{service}}">
                     <span class="checkmark"></span>
                    {{service}}
                </label>
                {% else %}
                <label class="custom-checkbox">
                    <input type="checkbox" name="services" value="{{service}}">
                     <span class="checkmark"></span>
                    {{service}}
                </label>
                {% endif %}


                {% endfor %}

            </div>
        </div>

        <div class="input-group">
            <label for="first_name">Имя:</label>
            <input type="text" id="first_name" name="first_name" value="{{ first_name }}" required>
        </div>

        <div class="input-group">
            <label for="last_name">Фамилия:</label>
            <input type="text" id="last_name" name="last_name" value="{{ last_name }}" required>
        </div>

        <div class="input-group">
            <label for="phone">Номер телефона:</label>
            <input type="tel" id="phone" name="phone" value="{{ phone }}" required>
        </div>

        <div class="input-group">
            <label for="category">Категория:</label>
            <select name="category" id="category" required>
                <option value="1">Пользователь</option>
                <option value="2">Доктор</option>
            </select>
        </div>

        <p class="error">{{ error }}</p>
        <button class="button" type="submit">Зарегистрироваться</button>
        <a href="/login">Уже зарегестрированы? Войти</a>

    </form>
</div>


{% endblock %}

