{% extends  "base.html" %}

{% block head  %}

<script type="text/javascript" src="{{ static('js/image_upload.js')}}" defer></script>

{% endblock %}

{% block content  %}

<br>
<br>

<div class="container">

    <form class="" action="" method="post" enctype="multipart/form-data">
        <h1>Анкета</h1>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="input-group">
            <label for="specialization">Спецаильность:</label>
            <select name="specialization" id="specialization" required>

                {% for specialization in specializations %}

                {% if specialization == user.profile.specialization %}

                <option selected value="{{specialization.id}}">{{specialization}}</option>

                {% else %}

                <option value="{{specialization.id}}">{{specialization}}</option>

                {% endif %}

                {% endfor %}

            </select>
        </div>



        <div class="upload-section">
            <img id="image-show" class="uploaded-image" src="{{ user.get_avatar_url() }}">
            <input type="file"  name="image_file" accept="image/*" id="file-upload" class="file-input" style="display: none;">
            <label for="file-upload" class="text-button">Загрузить аватарку</label>
        </div>

        <div class="input-group">
            <label>Какие работы вы берете?</label>
            <div class="input-list">


                {% for service in services %}

                {% if service in selected_services %}
                 <label class="custom-checkbox">
                    <input checked type="checkbox" name="services" value="{{service}}">
                     <span class="checkmark"></span>
                    {{service}}
                </label>
                {% else %}
                <label class="custom-checkbox">
                    <input type="checkbox" name="services" value="{{service}}">
                     <span class="checkmark"></span>
                    {{service}}
                </label>
                {% endif %}


                {% endfor %}

            </div>
        </div>

        <div class="input-group">
            <label for="description">Кратское портфолио:</label>
            <textarea type="text" id="description" name="description" placeholder="Пример: Опытный хирург, специализирующийся на сложных операциях в полости рта" required>{{ user.profile.description }}</textarea>
        </div>

        <div class="input-group">
            <label for="phone">Номер рабочего телефона:</label>
            <input type="tel" id="phone" name="phone" value="{{ user.phone_number }}" placeholder="+7 999 999 99 99" required>
        </div>

        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}

        <button class="button" type="submit">Сохранить</button>

    </form>
</div>


{% endblock %}

