{% extends  "appointmenting.html" %}

{% block twostyles  %}
<link type="text/css" rel="stylesheet" href="{{ static('css/services.css') }}">

<script>
    const current_page = 1;
</script>
{% endblock %}

{% block container  %}


<h1>Выбрать услуги</h1>
<br>
<div class="services">

    {% for service in services %}
    <div id="service-card-{{service.id}}" class="service-card">
        <div class="service-info">
            <span class="service-title">{{service.title}}<br><span class="service-duration">{{service.duration}} мин.</span></span>

            <span class="hover-text">{{service.price}} ₽</span>
        </div>
        <div class="service-right">
            <button class="select-button">
                <img class="check-mark-img" src="{{ static('images/check_mark_icon.svg') }}">
            </button>
        </div>
    </div>

    {% endfor %}
</div>

<div id="bottom-menu" class="fixed-bottom panel disabled">
    <span class="service-title">Сумма: 3000</span>
    <button id="next-button" class="button">Выбрать время</button>
</div>
<script type="text/javascript" src="{{ static('js/select_service.js') }}"></script>

<script>
    let services = {

    }
    let service;

    {% for service in services %}

    service = {
        'title': '{{service.title}}',
        'duration': +'{{service.duration}}',
        'price': {{service.price}}
    }
    services['{{service.id}}'] = service;

    {% endfor %}

    initService();
</script>

{% endblock %}

