{% extends  "base.html" %}

{% load static %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{% static 'css/services.css' %}">
<script type="text/javascript" src="{% static 'js/select_service.js' %}" defer></script>
{% endblock %}

{% block content  %}


<br><br>
<div class="container">
    <h1>Выбрать услуги</h1>
    <br>
    <div class="services">

        {% for service in worker.profile.services.all %}
        <div id="service-card-{{service.id}}" class="service-card">
            <div class="service-info">
                <span class="service-title">{{service.title}}&nbsp;&nbsp;<span class="service-duration">{{service.duration}} мин.</span></span>
                <span class="service-price">{{service.price}} ₽</span>
            </div>
            <div class="service-right">
                <button class="select-button">
                    <img class="check-mark-img" src="{% static '/images/check_mark_icon.svg' %}">
                </button>
            </div>
        </div>

        {% endfor %}
    </div>

    <div id="bottom-menu" class="fixed-bottom disabled">
        <button class="button">Выбрать услугу</button>
    </div>
</div>


{% endblock %}

