{% extends  "appointmenting.html" %}

{% load static %}

{% block twostyles  %}
<link type="text/css" rel="stylesheet" href="{% static 'css/specialists.css' %}">
<script type="text/javascript" src="{% static 'js/select_specialists.js' %}" defer></script>

<script>
    const current_page = 0;
</script>
{% endblock %}

{% block container  %}

<h1>Выбрать врача</h1>
<br>
<div class="workers">

    {% for worker in workers %}

    <div id="worker-card-{{worker.id}}" class="worker-card">
        <div class="worker">
            <img src="{{worker.get_avatar_url}}">
            <div class="worker-info">
                <span class="transparent-text">@{{worker.username}}</span>
                <span class="title-specialist">{{worker.first_name}} {{worker.last_name}}</span>
                <span class="work-title">{{worker.profile.specialization}}</span>
                <span class="description">{{worker.profile.description}}</span>
            </div>
        </div>

        <span>Ближайшее время для записи {{worker.get_free_times.date_str}}:</span>
        <div class="buttons">

            {% for time in worker.get_free_times.times %}
            <button  name="{{time.datetime}}" class="time-button">{{time.time_str}}</button>
            {% endfor%}
        </div>
    </div>

    {% endfor%}

</div>

<div id="bottom-menu" class="fixed-bottom disabled">
    <button id="next-button" class="button">Выбрать услугу</button>
</div>


{% endblock %}

