

form{
    margin: auto;
}

.card img{
    width: 60px;
    height: 60px;

    object-fit: cover;
    border-radius: 60px;
}

.datetime-card img{
    border-radius: 0;
    padding: 10px;
}

.selected-services{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.selected-services p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-title{
    font-weight: 400;
}

.container{
    gap: 10px;
}

.icon-strap{
    width: 120px;
    background-color: var(--color-hover-1);
    border-radius: 100px;
    padding: 20px;
}

.big-icon{
    width: 100%;
}