body{
    background-color: var(--background-color-2);
    min-height: 100vh;
}

main{
    min-height: 90vh;
}

h1{
    font-weight: 600;
    color: var(--color-2);
}

hr{
    border: none;
    border-top: 1px dashed var(--color-transparent);
}

a{
    color: var(--color-1);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: var(--max-width);
    margin: auto;
}

.justify-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.w100{
    width: 100%;
}


.horizontal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form{
    box-shadow: 0 1px var(--shadow-blur) var(--shadow);
    padding: 20px 50px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    max-width: 80vw;

    background-color: white;

    border-radius: var(--base-border-radius);
}

.reg{
    max-width: 600px;
}

option{
    color: var(--color-1)
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.input-group input, .input-group textarea, .input-group select{
    outline: none;
    color: var(--color-1);
    background-color: var(--background-color-2);
    border-radius: var(--small-border-radius);
    border: 0px solid var(--color-1);

    padding: 12px;
    font-size: 16px;
}
.input-group input:hover, .input-group textarea:hover{
    border-color: var(--color-2);
    box-shadow: 0 0 5px var(--light-color);
}
.input-group label{
    margin-bottom: 5px;
    color: var(--color-1);
}

form a{
    display: block;
    width: 100%;
    text-align: center;
}
form a:hover{
    color: var(--color-hover-1);
}

.input-list{
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--background-color-2);
    border-radius: var(--small-border-radius);
    padding: 12px;
}

.button{
    width: 100%;
    padding: 10px;
    outline:none;
    font-size: 1.5rem;
    text-align: center;

    border-radius: calc(var(--base-border-radius) / 2);
    border: none;

    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}

.button:hover{
    background-color: var(--color-1);
    cursor: pointer;
}

.fixed-bottom{
    position: sticky;
    bottom: 24px;

    z-index: 9999;
    margin: 20px auto;
    opacity: 1;
    width: calc(var(--max-width) - 32px);
}

.button.mini{
    width: fit-content;
    padding: 5px 12px;
    font-size: 14px;

}

.fixed-bottom.panel{
    padding: 10px;
    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px var(--shadow-blur) rgba(0, 68, 48, 0.2);
}


.fixed-bottom button{
    box-shadow: 0 1px var(--shadow-blur) rgba(0, 68, 48, 0.2);
}

.disabled {
    display: none;
    opacity: 0;
}

.mini-avatar, .profile-avatar{
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}

.mini-avatar{
    height: 50px;
}

.profile-avatar{
    height: 30px;
    width: 30px;

    /*border: 1px solid var(--color-1);*/

}

.card{
    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 100%;
    margin: auto;
}

.transparent-text{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-transparent)
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.strap{
    width: 100%;
    padding: 20px;
    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upload-section {
    border: 2px dashed var(--color-transparent);
    border-radius: var(--small-border-radius);

    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.file-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    text-align: center;
    margin: auto;
}

.file-input::-webkit-file-upload-button {
    display: none;
    visibility: hidden;
}
.file-input::file-selector-button {
    display: none;
    visibility: hidden;
}

.uploaded-image{
    width: 300px;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 300px;
}

.text-button{
    color: var(--color-hover-1)
}

.text-button:hover{
    color: var(--color-hover-2)
}

.switch-buttons.disabled{
    display: none;
}

.switch-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: var(--max-width);
    margin: 0 auto;
    gap: 5px;

    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);
    overflow: hidden;
}

.switch-button{
    color: var(--color-1);
    background-color: var(--background-color-1);

    font-size: 16px;
    padding: 7px 14px;

    width: 100%;
}

.switch-button.active{
    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}






