.switch-buttons{
    background-color: var(--background-color-2);
    margin: 0;
}
.switch-button{
    background-color: var(--background-color-2);
}

.url-button{
    color: var(--color-hover-1);
}

.url-button:hover{
    color: var(--color-hover-2);
    text-decoration: underline;
}