

.workers{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin: auto;
}

.worker-card{
    --padding: 1rem;

    width: calc(100%);
    height: auto;

    display: flex;
    flex-direction: column;

    gap: 0.7rem;

    padding: var(--padding);
    background-color: var(--background-color-1);

    border: 2px solid transparent;
    border-radius: var(--base-border-radius);
}

.worker-card.selected{
    border-color: var(--color-hover-1);
}



.description{
    font-size: 0.9rem;
    color: var(--color-transparent);
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    gap: 0.5rem;
}
.time-button{
    width: auto;
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    align-self: flex-end;
    border: 1px solid var(--color-hover-1);

    border-radius: var(--base-border-radius);
    background-color: transparent;
    color: var(--color-hover-1);
}

.time-button.selected{
    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}