

.workers{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin: auto;
}

.worker-card{
    --padding: 20px;

    width: calc(100%);
    height: auto;

    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: var(--padding);
    background-color: var(--background-color-1);

    border: 2px solid transparent;
    border-radius: var(--base-border-radius);
}

.worker-card.selected{
    border-color: var(--color-hover-1);
}

.worker{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    gap: 20px;
}


.worker:hover{
    cursor: pointer;
}

.worker-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.worker img{
    width: 60px;
    height: 60px;

    object-fit: cover;
    border-radius: 60px;
}

.username{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-transparent)
}

.title{
    font-size: 21px;
    font-weight: 600;
}

.work-title{
    font-size: 18px;
    color: var(--color-1)
}

.description{
    font-size: 14px;
    color: var(--color-transparent)
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}
.time-button{
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    align-self: flex-end;
    border: 1px solid var(--color-hover-1);

    border-radius: var(--base-border-radius);
    background-color: transparent;
    color: var(--color-hover-1);
}

.time-button.selected{
    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}